/* Navbar.css */
.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .brand-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px; /* Add margin for spacing */
  }
  
  button {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    color: #fff;
  }
  
  